@model PaginatedList<ThamGiaHoatDong>

@{
    if (User.IsInRole("Administrators"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

@if (User.IsInRole("Administrators"))
{
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary mb-4">Tạo mới</button>
        </a>
    </p>
}

<h2 class="text-2xl font-semibold mb-3 text-center overflow-y-auto" style="max-height: calc(3 * (3.5rem + 1rem));color: #00a2e9" ">Hoạt động đã tham gia</h2>
<form asp-controller="ThamGiaHoatDongs" asp-action="Index" class="search-form justify-center mb-3">
    <div class="search-container">
        <input type="text" class="search-input w-full md:w-80 mb-2 md:mb-0" placeholder="Tìm kiếm" name="searchString">
        <button class="search-button ml-2">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>
@{
    int count = (10 * (Model.PageIndex - 1)) + 1;   
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-black uppercase bg-gray-50 dark:bg-gray-700 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STT
                </th>
                <th scope="col" class="px-6 py-3">
                    Tham Gia
                </th>
            @if (User.IsInRole("Administrators"))
            {

                <th scope="col" class="px-6 py-3">
                    MSSV
                </th>
                <th scope="col" class="px-6 py-3">
                    Họ tên
                </th>
            }
                <th scope="col" class="px-6 py-3">
                    Hoạt động
                </th>
                <th scope="col" class="px-6 py-3">
                    Ngày
                </th>
                <th scope="col" class="px-6 py-3">
                    Link minh chứng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr class="bg-white border-2 dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 whitespace-nowrap">
                        @count
                    </th>
                    @if (i.DaThamGia == true)
                    {
                        <th class="text-green-600 px-6 py-4 whitespace-nowrap">
                            Đã tham gia
                        </th>
                    }
                    else
                    {
                        <th class="text-red-600 px-6 py-4 whitespace-nowrap">
                            Vắng
                        </th>
                    }

                    @if (User.IsInRole("Administrators"))
                    {
                    <td class="px-6 py-4 whitespace-nowrap">
                            @i.MaSV
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                            @i.DangKyHoatDong.SinhVien.HoTen
                    </td>
                    }
                    <td class="px-6 py-4 whitespace-nowrap">
                            @i.DangKyHoatDong.HoatDong.TenHoatDong
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        @i.DangKyHoatDong.HoatDong.ThoiGian.ToString("dd/MM/yyyy")
                    </td>
                        @if (i.LinkMinhChung != null)
                        {
                        <td class ="px-6 whitespace-nowrap">
                            @{
                                string[] parts = i.LinkMinhChung.Split('/');

                                // Lấy phần thứ 4 của mảng (sau khi chia bởi "/")
                                string id = parts[5];
                                string l = "https://drive.google.com/uc?id=" +  $"{id}" + "&export=download";
                            }
                            <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

                            <div class="flex items-start my-2.5 bg-gray-50 dark:bg-gray-600 rounded-xl">
                                <div class="me-2">
                                    <span class="flex items-center gap-2 text-sm font-medium text-gray-900 dark:text-white pb-2">
                                        <svg fill="none" aria-hidden="true" class="w-5 h-5 flex-shrink-0" viewBox="0 0 20 21">
                                            <g clip-path="url(#clip0_3173_1381)">
                                                <path fill="#E2E5E7" d="M5.024.5c-.688 0-1.25.563-1.25 1.25v17.5c0 .688.562 1.25 1.25 1.25h12.5c.687 0 1.25-.563 1.25-1.25V5.5l-5-5h-8.75z" />
                                                <path fill="#B0B7BD" d="M15.024 5.5h3.75l-5-5v3.75c0 .688.562 1.25 1.25 1.25z" />
                                                <path fill="#CAD1D8" d="M18.774 9.25l-3.75-3.75h3.75v3.75z" />
                                                <path fill="#F15642" d="M16.274 16.75a.627.627 0 01-.625.625H1.899a.627.627 0 01-.625-.625V10.5c0-.344.281-.625.625-.625h13.75c.344 0 .625.281.625.625v6.25z" />
                                                <path fill="#fff" d="M3.998 12.342c0-.165.13-.345.34-.345h1.154c.65 0 1.235.435 1.235 1.269 0 .79-.585 1.23-1.235 1.23h-.834v.66c0 .22-.14.344-.32.344a.337.337 0 01-.34-.344v-2.814zm.66.284v1.245h.834c.335 0 .6-.295.6-.605 0-.35-.265-.64-.6-.64h-.834zM7.706 15.5c-.165 0-.345-.09-.345-.31v-2.838c0-.18.18-.31.345-.31H8.85c2.284 0 2.234 3.458.045 3.458h-1.19zm.315-2.848v2.239h.83c1.349 0 1.409-2.24 0-2.24h-.83zM11.894 13.486h1.274c.18 0 .36.18.36.355 0 .165-.18.3-.36.3h-1.274v1.049c0 .175-.124.31-.3.31-.22 0-.354-.135-.354-.31v-2.839c0-.18.135-.31.355-.31h1.754c.22 0 .35.13.35.31 0 .16-.13.34-.35.34h-1.455v.795z" />
                                                <path fill="#CAD1D8" d="M15.649 17.375H3.774V18h11.875a.627.627 0 00.625-.625v-.625a.627.627 0 01-.625.625z" />
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_3173_1381">
                                                    <path fill="#fff" d="M0 0h20v20H0z" transform="translate(0 .5)" />
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        File minh chứng
                                    </span>
                                    <span class="flex text-xs font-normal text-gray-500 dark:text-gray-400 gap-2">
                                        Google Drive
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="self-center" width="3" height="4" viewBox="0 0 3 4" fill="none">
                                            <circle cx="1.5" cy="2" r="1.5" fill="#6B7280" />
                                        </svg>

                                        PDF
                                    </span>
                                </div>
                                <div class="inline-flex self-center items-center">
                                    <a href="@l" class="inline-flex self-center items-center p-2 text-sm font-medium text-center text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-600" type="button">
                                        <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z" />
                                            <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </td>
                        }
                        else
                        {
                        <td class ="px-6 py-4 whitespace-nowrap">
                            Đang cập nhật
                        </td>
                        }
                        @if (User.IsInRole("Administrators"))
                        {
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a asp-action="Edit" asp-route-id="@i.MaThamGiaHoatDong">Edit</a> |
                            <a asp-action="Details" asp-route-id="@i.MaThamGiaHoatDong">Details</a> |
                            <a asp-action="Delete" asp-route-id="@i.MaThamGiaHoatDong">Delete</a>
                        </td>
                        }
                </tr>
                count++;

            }
        </tbody>
    </table>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation" class="mt-3">
    <ul class="ml-3 pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-controller="ThamGiaHoatDongs" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-controller="ThamGiaHoatDongs" asp-action="Index" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-controller="ThamGiaHoatDongs" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>




<style>

    /* Form */
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-container {
        position: relative;
        width: 100%; /* Thanh tìm kiếm sẽ căng toàn bộ chiều rộng của phần tử cha */
    }

    .search-input {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #38b7fd;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        background-color: transparent;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 10px;
    }

        .search-button i {
            font-size: 20px;
        }

    @@media (min-width: 640px) {
        .search-container {
            width: 700px;
        }

        .search-input {
            width: 700px; /* Đặt lại kích thước cho trường hợp màn hình lớn hơn 640px */
            min-width: 200px; /* Đặt kích thước tối thiểu cho ô tìm kiếm */
        }
    }

</style>