@model Manage_CLB_HTSV.Models.SinhVien

@{
    ViewData["Title"] = "Cập nhật thông tin";
}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@1.6.3/dist/flowbite.min.css" rel="stylesheet">

    <div class="container mx-auto">
    <h1 class="text-3xl font-semibold text-center" style="color: #00a2e9">@ViewData["Title"]</h1>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (Model != null)
        {
            <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data" class="bg-white p-3 rounded-lg">
                <div class="flex justify-center">
                    @if (Model.HinhAnh != null)
                    {
                    <img src="@(Url.Content("~/userimages/" + @Model.HinhAnh))" alt="Hình ảnh sinh viên" style="border: 3px solid #50b5f0" class="w-24 h-24 rounded-full object-cover mr-4" />
                    }
@*                     @if (Model.DuongdanQR != null)
                    {
                        <img src="@(Url.Content("~/qrcode/" + @Model.DuongdanQR))" alt="Hình ảnh sinh viên" class="w-16 h-16 rounded-lg border border-gray-300 object-cover" />
                    } *@
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                    <div class="form-group">
                        <label asp-for="MaSV" class="block text-sm font-medium text-gray-700">Mã sinh viên</label>
                        <input asp-for="MaSV" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@User.Identity.Name.Split('@')[0]" disabled />
                        <span asp-validation-for="MaSV" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="block text-sm font-medium text-gray-700">Họ tên</label>
                        <input asp-for="HoTen" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@Model.HoTen.ToString()" disabled />
                        <span asp-validation-for="HoTen" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySinh" class="block text-sm font-medium text-gray-700">Ngày sinh</label>
                        <input asp-for="NgaySinh" type="text" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@Model.NgaySinh.ToString("dd/MM/yyyy")" disabled />
                        <span asp-validation-for="NgaySinh" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DienThoai" class="block text-sm font-medium text-gray-700">Số điện thoại</label>
                        <input asp-for="DienThoai" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@Model.DienThoai" />
                        <span asp-validation-for="DienThoai" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                        <input asp-for="Email" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@User.Identity.Name" disabled />
                        <span asp-validation-for="Email" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaChucVu" class="block text-sm font-medium text-gray-700">Chức vụ</label>
                        <select asp-for="MaChucVu" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" asp-items="ViewBag.MaChucVu" disabled></select>
                        <span asp-validation-for="MaChucVu" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaLop" class="block text-sm font-medium text-gray-700">Mã Lớp</label>
                        <input asp-for="MaLop" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@Model.MaLop.ToUpper()" />
                        <span asp-validation-for="MaLop" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label for="maKhoa" class="block text-sm font-medium text-gray-700">Khoa</label>
                        <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" id="maKhoa" name="maKhoa" >
                            @foreach (var item in ViewBag.KhoaList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label asp-for="HinhAnh" class="block text-sm font-medium text-gray-700">Cập nhật hình ảnh (Nếu muốn)</label>
                    <input class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" name="newImage" aria-describedby="file_input_help" id="file_input" type="file" accept="image/*" />
                    <span asp-validation-for="HinhAnh" class="text-red-600 text-sm"></span>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="commitmentCheckbox" name="commitmentCheckbox">
                    <label class="form-check-label" for="commitmentCheckbox">
                        Cam kết thông tin trên là chính xác
                    </label>
                </div>
                <div class="flex items-center mt-2">
                    <button type="submit" class="px-4 py-2 mr-2 bg-blue-500 text-white rounded hover:bg-blue-600">Cập Nhật</button>
                    <a href="/Home" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">Bỏ qua</a>
                </div>
            </form>
        }
        else
        {
            <form id="updateProfileForm" asp-action="UpdateProfile" method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                    <div class="form-group">
                        <label asp-for="MaSV" class="block text-sm font-medium text-gray-700">Mã Sinh Viên</label>
                        <input asp-for="MaSV" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@User.Identity.Name.Split('@')[0]" disabled />
                        <span asp-validation-for="MaSV" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="block text-sm font-medium text-gray-700">Họ tên</label>
                        <input asp-for="HoTen" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
                        <span asp-validation-for="HoTen" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgaySinh" class="block text-sm font-medium text-gray-700">Ngày Sinh</label>
                        <input asp-for="NgaySinh" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
                        <span asp-validation-for="NgaySinh" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DienThoai" class="block text-sm font-medium text-gray-700">Số điện thoại</label>
                        <input asp-for="DienThoai" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
                        <span asp-validation-for="DienThoai" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="block text-sm font-medium text-gray-700">Email</label>
                        <input asp-for="Email" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" value="@User.Identity.Name" disabled />
                        <span asp-validation-for="Email" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaChucVu" class="block text-sm font-medium text-gray-700">Chức vụ</label>
                        <select asp-for="MaChucVu" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" disabled asp-items="ViewBag.MaChucVu"></select>
                        <span asp-validation-for="MaChucVu" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaLop" class="block text-sm font-medium text-gray-700">Mã Lớp</label>
                        <input asp-for="MaLop" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" />
                        <span asp-validation-for="MaLop" class="text-red-600 text-sm"></span>
                    </div>
                    <div class="form-group">
                        <label for="maKhoa" class="block text-sm font-medium text-gray-700">Khoa</label>
                        <select class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" id="maKhoa" name="maKhoa">
                            @foreach (var item in ViewBag.KhoaList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="HinhAnh" class="block text-sm font-medium text-gray-700">Cập nhật hình ảnh (Nếu muốn)</label>
                    <input class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50" name="newImage" aria-describedby="file_input_help" id="file_input" type="file" accept="image/*" />
                    <span asp-validation-for="HinhAnh" class="text-red-600 text-sm"></span>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="commitmentCheckbox" name="commitmentCheckbox">
                    <label class="form-check-label" for="commitmentCheckbox">
                        Cam kết thông tin trên là chính xác
                    </label>
                </div>
            <div class="flex items-center mt-2">
                    <button type="submit" class="px-4 py-2 mr-2 bg-blue-500 text-white rounded hover:bg-blue-600">Cập Nhật</button>
                    <a href="/Home" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">Bỏ qua</a>
                </div>
            </form>
        }
    </div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@@1.6.3/dist/flowbite.js"></script>
<script>
    document.getElementById("updateProfileForm").addEventListener("submit", function (event) {
        var isChecked = document.getElementById("commitmentCheckbox").checked;
        if (!isChecked) {
            alert("Hãy cam kết thông tin trên là chính xác.");
            event.preventDefault();
        }
    });
</script>
