@model PaginatedList<TinTuc>

@{
    if (User.IsInRole("Administrators"))
    {
         Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}
@if (User.IsInRole("Administrators"))
{
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary mb-4">Tạo mới</button>
        </a>
    </p>
}
<form asp-controller="TinTucs" asp-action="Index" class="search-form justify-center mb-2">
    <div class="search-container">
        <input type="text" class="search-input w-full md:w-80 mb-2 md:mb-0" placeholder="Tìm kiếm" name="SearchString">
        <button class="search-button ml-2">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<style>
    /* Form */
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-container {
        position: relative;
        width: 700px;
    }

    .search-input {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #38b7fd;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        background-color: transparent;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 10px;
    }

        .search-button i {
            font-size: 20px;
        }

  

    /* Responsive adjustments */
    @@media (min-width: 640px) {
        .swiper-slide {
            width: calc(25% - 20px);
            margin-right: 20px;
        }

        .swiper-pagination {
            display: none;
        }
    }

    @@media (max-width: 639px) {
        .swiper-slide {
            width: 100%; /* Mỗi slide chỉ hiển thị một mục trên điện thoại */
            margin-right: 0;
        }

        .tt {
            font-size: 25px;
        }
    }
</style>



@{
    int count = (5 * (Model.PageIndex - 1)) + 1;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-2">
        <thead class="text-xs text-black uppercase bg-gray-50 dark:bg-gray-700  border-2">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STT
                </th>
                <th scope ="col" class="px-6 py-3">
                    Tiêu đề 
                </th>
                <th scope="col" class="px-6 py-3">
                    Hình ảnh 
                </th scope="col" class="px-6 py-3">
                <th>Chức năng</th>
                <th>
                    Nội dung 
                </th>
                <th scope="col" class="px-6 py-3">
                    Ngày đăng 
                </th>
                <th scope="col" class="px-6 py-3">
                    Người đăng 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr class="bg-white text-black border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 whitespace-nowrap">
                            @count
                        </th>
                        <td scope="row" class="px-6 py-4 whitespace-nowrap">
                            @i.TieuDe
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap d-flex align-items-center">
                            <img src="@(Url.Content("~/newsimages/" + i.HinhAnh))" alt="Hình ảnh" class="img-thumbnail" style="width: 50px;" />     
                        </td>
                         @if (User.IsInRole("Administrators"))
                        {
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a asp-action="Edit" asp-route-id="@i.MaTinTuc">Edit</a> |
                            <a asp-action="Details" asp-route-id="@i.MaTinTuc">Details</a> |
                            <a asp-action="Delete" asp-route-id="@i.MaTinTuc">Delete</a>
                        </td>
                        }
                    <td class="px-6 py-4 whitespace-nowrap">
                        @i.NoiDung
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        @i.NgayDang
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        @i.MaSV
                    </td>
                   
                </tr>
                 count++;


            }
        </tbody>
    </table>
</div>







@{
    // Kiểm tra có trang trước hoặc trang sau không
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<nav class="flex justify-between mt-4">
    <ul class="pagination">
        <!-- Liên kết trang trước -->
        <li class="page-item @prevDisabled">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex - 1 })">Previous</a>
        </li>
        <!-- Liên kết các trang -->
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
            </li>
        }
        <!-- Liên kết trang tiếp theo -->
        <li class="page-item @nextDisabled">
            <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageIndex + 1 })">Next</a>
        </li>
    </ul>
</nav>